{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<title>Professional CV a Personal Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Professional CV a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<!-- menu -->
<link type="text/css" rel="stylesheet" href="{% static 'clientstatic/css/cm-overlay.css' %}" />
<!-- //menu -->
<link href="{% static 'clientstatic/css/jquery.fatNav.css' %}" rel="stylesheet" type="text/css">

<!--FlexSlider-->
	<link rel="stylesheet" href="{% static 'clientstatic/css/flexslider.css' %}" type="text/css" media="screen" />
<!--//FlexSlider-->

<link rel="stylesheet" href="{% static 'clientstatic/css/lightbox.css' %}"><!-- For-gallery-CSS -->

<!-- custom css theme files -->
	<link rel="stylesheet" href="{% static 'clientstatic/css/bootstrap.min.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'clientstatic/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'clientstatic/css/style.css' %}" type="text/css" media="all">
<!-- //custom css theme files -->

<!-- google fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->

</head>
<!-- Body -->
<body id="home">
<!-- banner -->
	<nav class="w3-navbar">
					<div class="container">
						<div class="nav-top">
						
							  <!-- Logo -->
								<div class="logo">
								  <a href="#home" class="scroll">
									Professional <span>CV</span>
								  </a>
							  </div>
							  <!-- Logo -->
							<div class="right">
								<div class="w3-socials">
									<ul>
										<li>
											<a href="https://www.facebook.com/ruppesh.adhikari.1"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="https://twitter.com/RuppeshA"><span class="fa fa-twitter"></span></a>
										</li>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						
					</div> <!-- end container -->
				
	</nav>
	
<div class="w3l-banner">
<div class="wthree-dot">

	<!-- nav -->
	<div class="w3layouts-nav-right">
		<div class="fat-nav">
			<div class="fat-nav__wrapper">
				<ul>
					<li><a href="index.html" >Home</a></li>
					<li><a href="#about"  class="scroll" >About Me</a></li>
					<li><a href="#services"  class="scroll" >My Services</a></li>
					<li><a href="#skills"  class="scroll" >My Skills</a></li>
					<li><a href="#gallery"  class="scroll" >My projects</a></li>
					<li><a href="#stats"  class="scroll" >Stats</a></li>
					<li><a href="#experience"  class="scroll" >Work Experience</a></li>
					<li><a href="#contact"  class="scroll" >Contact</a></li>
				</ul>
			</div>
		</div>
	</div>		
	<!-- //nav -->
	
		<!-- //Header -->
		<div class="container">
			<div class="flexslider-info">
				<section class="slider col-md-6">
					<div class="flexslider">
						<ul class="slides">
							<li>
							<div class="w3l-info">
								<h1>Hi myself <span>Ruppesh</span></h1>
								<p>Hello friends wats up i am ruppesh adhikari an Electronics and Communication
								Engineer & i am from malangwa. </p>
								<ul>
									<li><a href="#" class="w3ls_more" >Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
							</div>
							</li>
							<li>
								<div class="w3l-info">
								<h2>this is my <span>website</span></h2>
								<p>This my Professional CV Website and love to build a website of different types as much as more quickly and efficient</p>
								<ul>
									<li><a href="#" class="w3ls_more" >Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
								</div>
							</li>
							<li>
								<div class="w3l-info">
								<h3>I'm a <span>Django Programmer</span></h3>
								<p>Being a website designer i also love to do programming, this is my hobby also</p>
								<ul>
									<li><a href="#" class="w3ls_more">Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
{% block content %}

{% endblock content %}


	<!--//footer -->


<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="{% static 'clientstatic/js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'clientstatic/js/bootstrap.min.js' %}"></script>
<!-- //Default-JavaScript-File -->

<!-- gauge-meter -->
	<script src="{% static 'clientstatic/js/jquery.gauge.js' %}"></script>
	<script>
		$(document).ready(function (){
			$("#gauge1").gauge(90,{color: "#ff4f81",unit: " %",type: "halfcircle"});
			$("#gauge2").gauge(70, {color: "#2dde98", unit: " %",type: "halfcircle"});
			$("#gauge3").gauge(75, {color: "#00aeff",unit: " %",type: "halfcircle"});
			$("#gauge4").gauge(40, {color: "#ffb900",unit: " %",type: "halfcircle"});
		});
	</script>
<!-- //gauge-meter -->

<!--menu script-->
<script type="text/javascript" src="{% static 'clientstatic/js/modernizr-2.6.2.min.js' %}"></script>
		<script src="{% static 'clientstatic/js/jquery.fatNav.js' %}"></script>
		<script>
		(function() {
			
			$.fatNav();
			
		}());
		</script>

<!--Start-slider-script-->
	<script defer src="{% static 'clientstatic/js/jquery.flexslider.js' %}"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->

<!-- smooth scrolling -->
	<script src="{% static 'clientstatic/js/SmoothScroll.min.js' %}"></script>
<!-- smooth scrolling -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	
	
</body>
<!-- //Body -->
</html>