{% extends 'ruppeshapp/clienttemplates/base.html' %}
{% load static %}


{% block content %}


<!-- //banner -->

<!-- About section -->
<div class="about" id="about">
	<div class="container">
		<h3 class="text-center">About Me</h3>
		
		<div class="col-md-5 about_left">
							<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li><b>Ruppesh</b></li>
										<li>Adhikari</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text ">
										<li><b>D.O.B</b></li>
										<li>28-10-1995</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>PHONE</b></li>
										<li>+(977) 9817808980</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>JOB</b></li>
										<li>Designer & Developer</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>EXPERIENCE</b></li>
										<li>+4 month</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>ADDRESS </b></li>
										<li>Malangwa-10, sarlahi Nepal.</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>E-MAIL </b></li>
										<li><a href="mailto:example@mail.com"> eruppesh@gmail.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>WEBSITE </b></li>
										<li><a href="#">www.mywebsite.com</a></li>
									</ul>
								</li>
							</ul>
							<div class="w3-socials about-social">
									<ul>
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-vk"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-pinterest-p"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
									</ul>
								</div>
		</div>
		<div class="col-md-7 about_right">
			<h3>Hi, I am Ruppesh Adhikari</h3>
			<h4>Web designer : +4 month of coding experience</h4>
			<p>i love to design website site of different types such as education secotr, indusrties, medical,
			 business office, onlineline examination and many more. even i also work on python to do my work.
			 i like a challenging types of work to do as it increase my strength and capabilty.
			 My strength is hosted, self-motivated and hardworking. 
             I'm a fresher, but I am a very hardworking person and passionate to gain more knowledge and experience.</p>
			<p>I am a django programmer and i am so passionate of this. A i am electronics and Communicaton i also design 
			 a  Electronics project.I am a self-motivated person. I have a positive attitude towards my career and I want to be a good person in my life </p>
			<ul>
				<li><a href="#contact" class="w3ls_more scroll" >Hire Me</a></li>
				<li><a href="#contact" class="w3l scroll">Contact Me</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		
	</div>
</div>
<!-- //About section -->

<!-- /services -->
<div class="w3-services" id="services">
	<div class="container">
			<div class="w3-services-grids">
						<h3 class="text-center">My Services</h3>
				<div class="col-md-4 w3-services-left-grid">
					<h4>My best services </h4>
					<p>I will give my best services while working in your company
					 or working with you. I will always keep my performance high and give my 100% effiecient output
					while working.</p>
					<div class="more">
						<a href="#">Know more</a>
					</div>
				</div>
				<div class="col-md-8 w3-services-right-grid">
				<div class="w3-icon-grid-gap1">
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-codepen" aria-hidden="true"></i>
						<h3>Web design</h3>
						<div class="clearfix"></div>
						<p> Designing web in appropriate way but made operte easy for the admin section party.
					    web design a web in storng way for the safety purpose</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-laptop" aria-hidden="true"></i>
						<h3>Coding</h3>
						<div class="clearfix"></div>
						<p>I like to do the python Program coding for making program. i would manly test the program code in it</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-circle" aria-hidden="true"></i>
						<h3>Django 	Programming</h3>
						<div class="clearfix"></div>
						<p>While Designign the web i use django programming frame to design it</p>
					</div>
					<div class="clearfix"></div>
					</div>
					<div class="w3-icon-grid-gap2">
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-mobile" aria-hidden="true"></i>
						<h3>Elx Project</h3>
						<div class="clearfix"></div>
						<p>Whenever i am free i like to do design a electronics project of different kind</p>
					</div>
					<!-- <div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-bar-chart" aria-hidden="true"></i>
						<h3>Marketing</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
						<h3>Development</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div> -->
					<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //services -->

<!--skills -->
<div class="skills-agileinfo" id="skills">
	<div class="container">
		<h3 class="text-center">My skills</h3>
				<div class="modal-spa">
					<div class="skills"> 
						<div class="col-md-6 bar-grids bargrids-left">
							<h4> Technical Skills </h4>
							<p>Experienced of techinical skill in different field. working very hard
							in this related field to make my self a perfect enginner.</p>
							<h6>web design  <span> 80% </span></h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 80%">
								</div>
							</div>
							<h6>django programming<span> 75% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 75%">
								</div>
							</div>
							<h6>Electronics project designing<span>70% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 90%">
								</div>
							</div>
							<h6>Microsoft Office programmes <span> 75% </span></h6>
							<div class="progress  w3-agile prgs-w3agile-last">
								<div class="progress-bar progress-bar-striped active" style="width: 75%">
								</div>
							</div>
						</div> 
						<div class="col-md-6 bar-grids  w3-agile">
							<h4> My Hobbies </h4>
							<p>Apart from my core subject and programming there are my different 
							types of hobbie that i like to do when i am free.</p>
							<div class="col-md-4 hobbies-grid1 grid1">
								<span class="fa fa-codepen"></span>
								<h5>Coding</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid2">
								<span class="fa fa-hourglass"></span>
								<h5>Research</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid3">
								<span class="fa fa-camera"></span>
								<h5>Photography</h5>
							</div>
							<div class="clearfix"></div>
							
							<div class="col-md-4 hobbies-grid1 grid4">
								<span class="fa fa-plane"></span>
								<h5>Travelling</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid5">
								<span class="fa fa-headphones"></span>
								<h5>Music</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid6">
								<span class="fa fa-tint"></span>
								<h5>Thinking</h5>
							</div>
							<div class="clearfix"></div>
							
						</div>
						<div class="clearfix"> </div>	
					</div>
				</div> 
		</div> 
</div> 
<!-- //skills -->

<!--gallery-->
	<div class="gallery" id="gallery">
		<div class="container">
		<div class="about-head text-center ">
		<h3 class="text-center">My Projects</h3>
		</div>	
			<div class="gallery-info">
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p1.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p1.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p2.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p2.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p3.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p3.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p4.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p4.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p5.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p5.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p6.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p6.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p7.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p7.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p8.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p8.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p9.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p9.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p10.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p10.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p11.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p11.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p12.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p12.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="clearfix"> </div>	
			</div>
			<script src="{% static 'clientstatic/js/lightbox-plus-jquery.min.js' %}"></script>
		</div>
</div>
<!--//gallery-->

<!-- stats -->
	<div class="stats" id="stats">
		<div class="container">
		<h3 class="text-center">Other Activities</h3>
			<div class="w3layouts_skills_grids">
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge1" width="200" height="100"></canvas>
					<h4>reading news</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge2" width="200" height="100"></canvas>
					<h4>playing cricket</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge3" width="200" height="100"></canvas>
					<h4>creation 0f idea</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge4" width="200" height="100"></canvas>
					<h4>Watching movie</h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //stats -->

<!-- My experience -->
<section class="experience" id="experience">
	<div class="container">
		<h3 style="color: green" class="text-center">Qualification</h3>
		<div class="col-md-5 exp_left">
			<img src="{% static 'clientstatic/images/shindey.jpg' %}" alt="" />
		</div>
		<div class="col-md-7 exp_right">
			<h3>My Qualification</h3>
			<p>i am an Electronics and Communication engineer. my qualification is listed
			 below, i didn't gap any year my studies goes on frequently without any disturbance
			and i have also taken the training of webpage desing and django programming after my Bachelor</p>
			<div class="exp_grids">
				<div class="exp_grid1">
					<h4>Bachelor in Enginnering</h4>
					<h5>2013-2017</h5>
					<p>I have completed my Bacheor of Enginnering in Electronics & Communication from 
					Pokhara University </p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>+2 science</h4>
					<h5>2011-2012</h5>
					<p>I have completed my +2 science in Physical group from Higher Secondary Education board
					Nepal </p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>School Leaving Certificate (SLC) </h4>
					<h5>2011</h5>
					<p>I have completed my SLC from the nepal Government board in the year 2010 </p>
					<span class="fa fa-circle"></span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div> 
</section> 
<!-- //My experience -->

<!-- comments -->
<section class="comment-w3l" id="contact">
	<div class="container">
		<h3 class="text-center">Contact Me</h3>
		<div class="col-lg-6 col-md-6 col-sm-6 comment-agile1" data-aos="flip-left">
			<form action="{% url 'ruppeshapp:clienthome' %}" method="POST">
				{% csrf_token %}
                <div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="name" placeholder="Full Name" required="">
                        <p class="help-block"></p>
                    </div>
                </div>
				<div class="control-group form-group">
                    <div class="controls">
                        <input type="email" class="form-control" id="email" placeholder="Email Address" required="">
                    </div>
                </div>
				<div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="name1" placeholder="Phone Number" required="">
						<p class="help-block"></p>
					</div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <textarea rows="10" cols="100" class="form-control" id="message" placeholder="Message" required=""></textarea>
                    </div>
                </div>
			<input class="btn btn-primary btn-block" type="submit" value="Submit">
            </form>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 comment-agile2" data-aos="flip-right">
			<h4>Contact me for more details</h4>
			<p class="comment-w3">Feel free to contact me without any hegitation. as i am engineer
			 and programmer i am very much friendly to all and a relax person. So if you want any kind of help or information from me than you can contact me</p>
			
			<h5><span class="fa fa-phone"></span> +977 9860875416</h5>
			<h5><span class="fa fa-envelope"></span> <a href="mailto:name@example.com"> eruppesh@gmail.com</a></h5>
			<h5><span class="fa fa-map-marker"></span> Malangwa-10, near bus station ,Sarlahi, Nepal </h5>
			<h5><span class="fa fa-twitter"></span> twitter/@my_website</h5>
			<h5><span class="fa fa-instagram"></span> instagram/@my_website</h5>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- /comments -->
<div class="w3l_footer">
		<div class="container">
			<h3>Thanks for visiting my site</h3>
				<div class="connect-social">  
					<ul>
						<li class="connect">Connect me with : </li>
						<li><a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="social-button linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			<p class="agileits_w3ls_copyright">© 2018 Professional CV. All rights reserved | Design by <a href="/">Ruppesh Adhikari</a></p>
			<div class="arrow-container animated fadeInDown">
				<a href="#home" class="arrow-2 scroll">
					<i class="fa fa-angle-up"></i>
				</a>
				<div class="arrow-1 animated hinge infinite zoomIn"></div>
			</div>
		</div>
	</div>
{% endblock content %}
