<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<title>Professional CV a Personal Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Professional CV a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<!-- menu -->
<link type="text/css" rel="stylesheet" href="{% static 'clientstatic/css/cm-overlay.css' %}" />
<!-- //menu -->
<link href="{% static 'clientstatic/css/jquery.fatNav.css' %}" rel="stylesheet" type="text/css">

<!--FlexSlider-->
	<link rel="stylesheet" href="{% static 'clientstatic/css/flexslider.css' %}" type="text/css" media="screen" />
<!--//FlexSlider-->

<link rel="stylesheet" href="{% static 'clientstatic/css/lightbox.css' %}"><!-- For-gallery-CSS -->

<!-- custom css theme files -->
	<link rel="stylesheet" href="{% static 'clientstatic/css/bootstrap.min.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'clientstatic/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'clientstatic/css/style.css' %}" type="text/css" media="all">
<!-- //custom css theme files -->

<!-- google fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->

</head>
<!-- Body -->
<body id="home">
<!-- banner -->
	<nav class="w3-navbar">
					<div class="container">
						<div class="nav-top">
						
							  <!-- Logo -->
								<div class="logo">
								  <a href="#home" class="scroll">
									Professional <span>CV</span>
								  </a>
							  </div>
							  <!-- Logo -->
							<div class="right">
								<div class="w3-socials">
									<ul>
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-vk"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-pinterest-p"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						
					</div> <!-- end container -->
				
	</nav>
	
<div class="w3l-banner">
<div class="wthree-dot">

	<!-- nav -->
	<div class="w3layouts-nav-right">
		<div class="fat-nav">
			<div class="fat-nav__wrapper">
				<ul>
					<li><a href="index.html" >Home</a></li>
					<li><a href="#about"  class="scroll" >About Me</a></li>
					<li><a href="#services"  class="scroll" >My Services</a></li>
					<li><a href="#skills"  class="scroll" >My Skills</a></li>
					<li><a href="#gallery"  class="scroll" >My projects</a></li>
					<li><a href="#stats"  class="scroll" >Stats</a></li>
					<li><a href="#experience"  class="scroll" >Work Experience</a></li>
					<li><a href="#contact"  class="scroll" >Contact</a></li>
				</ul>
			</div>
		</div>
	</div>		
	<!-- //nav -->
	
		<!-- //Header -->
		<div class="container">
			<div class="flexslider-info">
				<section class="slider col-md-6">
					<div class="flexslider">
						<ul class="slides">
							<li>
							<div class="w3l-info">
								<h1>My name is <span>Shindey</span></h1>
								<p>Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id. lorem ipsumvel ultrices viverra</p>
								<ul>
									<li><a href="#" class="w3ls_more" >Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
							</div>
							</li>
							<li>
								<div class="w3l-info">
								<h2>this is my <span>website</span></h2>
								<p>Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id. lorem ipsumvel ultrices viverra</p>
								<ul>
									<li><a href="#" class="w3ls_more" >Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
								</div>
							</li>
							<li>
								<div class="w3l-info">
								<h3>I'm a <span>designer</span></h3>
								<p>Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id. lorem ipsumvel ultrices viverra</p>
								<ul>
									<li><a href="#" class="w3ls_more">Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- About section -->
<div class="about" id="about">
	<div class="container">
		<h3 class="text-center">About Me</h3>
		
		<div class="col-md-5 about_left">
							<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li><b>Name</b></li>
										<li>Shindey Ker</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text ">
										<li><b>D.O.B</b></li>
										<li>21-04-1990</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>PHONE</b></li>
										<li>+0(12) 111 183 3166</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>JOB</b></li>
										<li>Designer & Developer</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>EXPERIENCE</b></li>
										<li>+4 Years</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>ADDRESS </b></li>
										<li>Eunos Road 8, Mand Towers, Singapore.</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>E-MAIL </b></li>
										<li><a href="mailto:example@mail.com"> info@example.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>WEBSITE </b></li>
										<li><a href="#">www.mywebsite.com</a></li>
									</ul>
								</li>
							</ul>
							<div class="w3-socials about-social">
									<ul>
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-vk"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-pinterest-p"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
									</ul>
								</div>
		</div>
		<div class="col-md-7 about_right">
			<h3>Hi, I am Shindey Ker</h3>
			<h4>Web designer : +4 years of coding experience</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporinc 
				ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
				Curabitur at arcu eget erat ornare suscipit quis ac nunc. Vestibulum eget mi sed eros elementum pretium. 
				Sed et porttitor neque. Sed tristique sapienvellacus tincidunt consectetur ipsum. </p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
				incididunt ut labore et dolore magna aliqua. Curabitur at arcu eget erat ornare suscipit quis ac nunc.
				Vestibulum eget mi sed eros elementum pretium.</p>
			<ul>
				<li><a href="#contact" class="w3ls_more scroll" >Hire Me</a></li>
				<li><a href="#contact" class="w3l scroll">Contact Me</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		
	</div>
</div>
<!-- //About section -->

<!-- /services -->
<div class="w3-services" id="services">
	<div class="container">
			<div class="w3-services-grids">
						<h3 class="text-center">My Services</h3>
				<div class="col-md-4 w3-services-left-grid">
					<h4>Cras lacinia, nis ultrices</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam, a sodales er osplacerat vitae. Sed pretium fermentum luctus. Nunc at lectus ut ex blandit egestas. Pellent esque sed erat at diam lacinia accumsan. </p>
					<div class="more">
						<a href="#">Know more</a>
					</div>
				</div>
				<div class="col-md-8 w3-services-right-grid">
				<div class="w3-icon-grid-gap1">
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-codepen" aria-hidden="true"></i>
						<h3>Web design</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-mobile" aria-hidden="true"></i>
						<h3>Mobile Apps</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-hourglass" aria-hidden="true"></i>
						<h3>Animation</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="clearfix"></div>
					</div>
					<div class="w3-icon-grid-gap2">
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-modx" aria-hidden="true"></i>
						<h3>Photoshop</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-bar-chart" aria-hidden="true"></i>
						<h3>Marketing</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
						<h3>Development</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //services -->

<!--skills -->
<div class="skills-agileinfo" id="skills">
	<div class="container">
		<h3 class="text-center">My skills</h3>
				<div class="modal-spa">
					<div class="skills"> 
						<div class="col-md-6 bar-grids bargrids-left">
							<h4> Technical Skills </h4>
							<p>Vestibulum facilisis nisi sed libero consectetur, nec eleifend augue feugiat.
							Vivamus dictum quam id diam dapibus, a vehicula orci luctus.</p>
							<h6>web design  <span> 80% </span></h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 80%">
								</div>
							</div>
							<h6>ui design & developer <span> 70% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 70%">
								</div>
							</div>
							<h6>Javascript<span>90% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 90%">
								</div>
							</div>
							<h6>Photoshop <span> 75% </span></h6>
							<div class="progress  w3-agile prgs-w3agile-last">
								<div class="progress-bar progress-bar-striped active" style="width: 75%">
								</div>
							</div>
						</div> 
						<div class="col-md-6 bar-grids  w3-agile">
							<h4> My Hobbies </h4>
							<p>Vestibulum facilisis nisi sed libero consectetur, nec eleifend augue feugiat.
							Vivamus dictum quam id diam dapibus, a vehicula orci luctus.</p>
							<div class="col-md-4 hobbies-grid1 grid1">
								<span class="fa fa-codepen"></span>
								<h5>Coding</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid2">
								<span class="fa fa-hourglass"></span>
								<h5>Research</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid3">
								<span class="fa fa-camera"></span>
								<h5>Photography</h5>
							</div>
							<div class="clearfix"></div>
							
							<div class="col-md-4 hobbies-grid1 grid4">
								<span class="fa fa-plane"></span>
								<h5>Travelling</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid5">
								<span class="fa fa-headphones"></span>
								<h5>Music</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid6">
								<span class="fa fa-tint"></span>
								<h5>Thinking</h5>
							</div>
							<div class="clearfix"></div>
							
						</div>
						<div class="clearfix"> </div>	
					</div>
				</div> 
		</div> 
</div> 
<!-- //skills -->

<!--gallery-->
	<div class="gallery" id="gallery">
		<div class="container">
		<div class="about-head text-center ">
		<h3 class="text-center">My Projects</h3>
		</div>	
			<div class="gallery-info">
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p1.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p1.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p2.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p2.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p3.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p3.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p4.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p4.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p5.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p5.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p6.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p6.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p7.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p7.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p8.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p8.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p9.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p9.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p10.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p10.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p11.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p11.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="{% static 'clientstatic/images/p12.jpg' %}" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="{% static 'clientstatic/images/p12.jpg' %}" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="clearfix"> </div>	
			</div>
			<script src="{% static 'clientstatic/js/lightbox-plus-jquery.min.js' %}"></script>
		</div>
</div>
<!--//gallery-->

<!-- stats -->
	<div class="stats" id="stats">
		<div class="container">
		<h3 class="text-center">Stats</h3>
			<div class="w3layouts_skills_grids">
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge1" width="200" height="100"></canvas>
					<h4>Projects Done</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge2" width="200" height="100"></canvas>
					<h4>Mobile Apps</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge3" width="200" height="100"></canvas>
					<h4>Clients Success</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge4" width="200" height="100"></canvas>
					<h4>Sales</h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //stats -->

<!-- My experience -->
<section class="experience" id="experience">
	<div class="container">
		<h3 class="text-center">Work Experience</h3>
		<div class="col-md-5 exp_left">
			<img src="{% static 'clientstatic/images/shindey.jpg' %}" alt="" />
		</div>
		<div class="col-md-7 exp_right">
			<h3>My Experience</h3>
			<p>Morbi imperdiet scelerisque felis, eget auctor libero eleifend nec. 
			Curabitur a aliquet justo. Etiam et ullamcorper dolor. Nam pulvinar accumsan congue.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
			<div class="exp_grids">
				<div class="exp_grid1">
					<h4>Senior web developer in x company</h4>
					<h5>2015-2017</h5>
					<p>Aliquam dignissim mollis metus at tempor. Donec ac malesuada nibh, 
					vel tincidunt nibh. Fusce facilisis, mi in tristique elementum, sem magna. </p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>Graphic designer in x company</h4>
					<h5>2010-2013</h5>
					<p>Aliquam dignissim mollis metus at tempor. Donec ac malesuada nibh, 
					vel tincidunt nibh. Fusce facilisis, mi in tristique elementum, sem magna. </p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>web designer in x company</h4>
					<h5>2007-2009</h5>
					<p>Aliquam dignissim mollis metus at tempor. Donec ac malesuada nibh, 
					vel tincidunt nibh. Fusce facilisis, mi in tristique elementum, sem magna. </p>
					<span class="fa fa-circle"></span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div> 
</section> 
<!-- //My experience -->

<!-- comments -->
<section class="comment-w3l" id="contact">
	<div class="container">
		<h3 class="text-center">Contact Me</h3>
		<div class="col-lg-6 col-md-6 col-sm-6 comment-agile1" data-aos="flip-left">
			<form action="#" method="post">
                <div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="name" placeholder="Full Name" required="">
                        <p class="help-block"></p>
                    </div>
                </div>
				<div class="control-group form-group">
                    <div class="controls">
                        <input type="email" class="form-control" id="email" placeholder="Email Address" required="">
                    </div>
                </div>
				<div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="name1" placeholder="Phone Number" required="">
						<p class="help-block"></p>
					</div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <textarea rows="10" cols="100" class="form-control" id="message" placeholder="Message" required=""></textarea>
                    </div>
                </div>
				<button type="submit" class="btn btn-primary">Send Message</button>
            </form>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 comment-agile2" data-aos="flip-right">
			<h4>Contact me for more details</h4>
			<p class="comment-w3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed insapien urna. Aenean Sed insapien urna in diam lacus. Nullam nisl urna, in consequat eget enim vitae, faucibus malesuada consectetur adipisc ingelit in consequat enim vitae</p>
			
			<h5><span class="fa fa-phone"></span> +112 367 8976</h5>
			<h5><span class="fa fa-envelope"></span> <a href="mailto:name@example.com"> mail@example.com</a></h5>
			<h5><span class="fa fa-map-marker"></span> 3481 Jack Street Beverly Hills 90210, USA</h5>
			<h5><span class="fa fa-twitter"></span> twitter/@my_website</h5>
			<h5><span class="fa fa-instagram"></span> instagram/@my_website</h5>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- /comments -->
<div class="w3l_footer">
		<div class="container">
			<h3>Thanks for visiting my site</h3>
				<div class="connect-social">  
					<ul>
						<li class="connect">Connect me with : </li>
						<li><a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="social-button linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			<p class="agileits_w3ls_copyright">© 2017 Professional CV. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p>
			<div class="arrow-container animated fadeInDown">
				<a href="#home" class="arrow-2 scroll">
					<i class="fa fa-angle-up"></i>
				</a>
				<div class="arrow-1 animated hinge infinite zoomIn"></div>
			</div>
		</div>
	</div>
	<!--//footer -->


<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="{% static 'clientstatic/js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'clientstatic/js/bootstrap.min.js' %}"></script>
<!-- //Default-JavaScript-File -->

<!-- gauge-meter -->
	<script src="{% static 'clientstatic/js/jquery.gauge.js' %}"></script>
	<script>
		$(document).ready(function (){
			$("#gauge1").gauge(90,{color: "#ff4f81",unit: " %",type: "halfcircle"});
			$("#gauge2").gauge(70, {color: "#2dde98", unit: " %",type: "halfcircle"});
			$("#gauge3").gauge(75, {color: "#00aeff",unit: " %",type: "halfcircle"});
			$("#gauge4").gauge(40, {color: "#ffb900",unit: " %",type: "halfcircle"});
		});
	</script>
<!-- //gauge-meter -->

<!--menu script-->
<script type="text/javascript" src="{% static 'clientstatic/js/modernizr-2.6.2.min.js' %}"></script>
		<script src="{% static 'clientstatic/js/jquery.fatNav.js' %}"></script>
		<script>
		(function() {
			
			$.fatNav();
			
		}());
		</script>

<!--Start-slider-script-->
	<script defer src="{% static 'clientstatic/js/jquery.flexslider.js' %}"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->

<!-- smooth scrolling -->
	<script src="{% static 'clientstatic/js/SmoothScroll.min.js' %}"></script>
<!-- smooth scrolling -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	
	
</body>
<!-- //Body -->
</html>